./client-remix/node_modules

./client-remix/.cache
./client-remix/build
./client-remix/public/build
./client-remix/.env

./backend/*#
./backend/*.iml
./backend/*.ipr
./backend/*.iws
./backend/*.jar
./backend/*.sw?
./backend/*~
./backend/.#*
./backend/.*.md.html
./backend/.DS_Store
./backend/.attach_pid*
./backend/.classpath
./backend/.factorypath
./backend/.gradle
./backend/.idea
./backend/.metadata
./backend/.project
./backend/.recommenders
./backend/.settings
./backend/.springBeans
./backend/.vscode
./backend/code
./backend/MANIFEST.MF
./backend/_site/
./backend/activemq-data
./backend/bin
./backend/build
./backend/!/**/src/**/bin
./backend/!/**/src/**/build
./backend/build.log
./backend/dependency-reduced-pom.xml
./backend/dump.rdb
./backend/interpolated*.xml
./backend/lib/
./backend/manifest.yml
./backend/out
./backend/overridedb.*
./backend/target
./backend/.flattened-pom.xml
./backend/secrets.yml
./backend/.gradletasknamecache
./backend/.sts4-cache